.TimeLine {
    position: relative;
    width: 90%;
    max-width: 95vw;
    height: 100%;
    font-family: Arial;
    align-self: center;
}

.TimeLine::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #fff;
    left: 50%;
    height: 100%;
    border-radius: 10px;
}

.Education {
    position: relative;
    width: 45%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.Education:nth-child(even) {
    left: 55%;
}

.Education::after {
    content: '';
    position: absolute;
    top: calc(50% + 10px);
    right: calc(-11.11% - 11.5px);
    height: 20px;
    width: 20px;
    background-color: #e76000;
    border-radius: 50%;
}

.Education:nth-child(even)::after {
    left: calc(-11.11% - 8.5px);
}

.Education h3 {
    margin: 0px;
    text-align: center;
}

.Education .EducationTitle {
    background-color: #e76000;
    border-radius: 10px;
    padding: 30px;
    line-height: 22px;
    font-size: 25px;
    width: calc(100% - 60px);
}

.Education .EducationTitle::after {
    content: '';
    position: absolute;
    right: -10px;
    top: calc(50% + 10px);
    height: 0;
    width: 0;
}

.Education:nth-child(even) .EducationTitle {
    background-color: #fff;
    color: #e76000;
}

.EducationTime {
    font-size: 20px;
}

.Education:last-child {
    margin-bottom: 20px;
}