.Resume h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 900;
    text-align: center;
}

.ResumeSubtitle {
    margin-top: 80px;
}

.Skills {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.Skills li{
    color: #fff;
    list-style: none;
    margin-right: 20px;
    background-color: #fa4529;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 30px;
}

