.Logo {
    flex: 1 1 auto;
    display: flex;
}

.Logo span {
    display: block;
    font-size: 75px;
    font-weight: bolder;
    color: #fa4529;
}

.Logo h2 {
    display: block;
    flex-basis: 40px;
    margin-left: 10px;
    font-weight: lighter;
    text-transform: uppercase;
    color: rgb(176, 176, 176);
}